{% extends "cmp-template.njk" %}

{% from "input/macro.njk" import govukInput %}
{% from "button/macro.njk" import govukButton %}
{% from "fieldset/macro.njk" import govukFieldset %}
{% from "date-input/macro.njk" import govukDateInput %}
{% from "details/macro.njk" import govukDetails %}
{% from "details/macro.njk" import govukDetails %}
{% from "table/macro.njk" import govukTable %}
{% from "offering.njk" import govukOffering %}

{% block content %}

    <h1 class="govuk-heading-m">Crown Marketplace prototype system</h1>

    <p class="govuk-body">This app is a demonstration for how the CMp architecture will work including:</p>

    <ul class="govuk-list">
        <li>Common front end toolkit</li>
        <li>Agreement model register</li>
    </ul>

    <span id="search">
        <h2 class="govuk-heading-m">Search</h2>
        <p class="govuk-body">Search cluster status {{ status.string }} </p>


        {% call govukFieldset({
            legend: {
                text: "Define your needs",
                classes: "govuk-fieldset__legend--xl",
                isPageHeading: true
            }
        }) %}

            <form action="/" method="POST">

            {{ govukInput({
                label: {
                    text: "What products or services do you require"
                },
                classes: "govuk-!-width-two-thirds",
                id: "service_name",
                name: "service_name",
                value: needs_expr.service
            }) }}

                {{ govukInput({
                    label: {
                        text: "What is your budget range"
                    },
                    classes: "govuk-!-width-two-thirds",
                    id: "budget",
                    value: "[not used yet]",
                    name: "budget"
                }) }}

                {% call govukFieldset({
                    legend: {
                        text: "Timeline",
                        classes: "govuk-fieldset__legend--s",
                        isPageHeading: true
                    }
                }) %}

                    {{ govukDateInput({
                        fieldset: {
                            legend: {
                                text: "When do you need the services",
                                isPageHeading: true,
                                classes: "govuk-fieldset__legend--xs"
                            }
                        },
                        d: "datefrom",
                        name: "datefrom"
                    }) }}

                    {{ govukInput({
                        label: {
                            text: "How long will you need the services"
                        },
                        classes: "govuk-input--width-20",
                        id: "duration",
                        name: "duration"
                    }) }}

                {% endcall %}

                {% call govukFieldset({
                    legend: {
                        text: "Where do you need the services",
                        classes: "govuk-fieldset__legend--s",
                        isPageHeading: true
                    }
                }) %}

                    {{ govukInput({
                        label: {
                            text: "Postcode"
                        },
                        classes: "govuk-input--width-10",
                        id: "postcode",
                        name: "postcode",
                        value: service.postcode
                    }) }}

                {% endcall %}

                {{ govukButton({
                    text: "Search",
                    type: "submit",
                    id: "search_button"
                }) }}

        </form>

        {% endcall %}

        <span id="results">
            <h2 class="govuk-heading-s">results</h2>
            <span class="govuk-body">
               <ul class="govuk-list">
                   <li> Query : {{ needs_expr.service }}</li>
                     <li> hits  : {{ results.hits.total }} </li>
               </ul>

            <ul class="govuk-list govuk-!-width-two-thirds">
              {% for item in results.hits.hits %}
                  <details class="govuk-details">
                <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                {{ item._id }}
                </span>
                </summary>
                      {{ govukOffering(  {item: item, type: type[item._source.agreement_id]}) }}
                </details>
              {% endfor %}
            </ul>
            </span>
            <p class="govuk-body">{{ results.string }}</p>

        </span>

    </span>


{% endblock %}
