

{% extends "cmp-template.njk" %}

{# Example that changes every setting in the template #}

{% block content %}

    <h1 class="govuk-heading-m">Crown Marketplace prototype system</h1>

    <p class="govuk-body">This app is a demonstration for how the CMp architecture will work including:</p>

    <ul class="govuk-list">
        <li>Common front end toolkit</li>
        <li>Agreement model register</li>
    </ul>

{% endblock %}
