{% extends "cmp-template.njk" %}

{% from "input/macro.njk" import govukInput %}
{% from "button/macro.njk" import govukButton %}

{% block content %}

    <h1 class="govuk-heading-m">Crown Marketplace prototype system</h1>

    <p class="govuk-body">This app is a demonstration for how the CMp architecture will work including:</p>

    <ul class="govuk-list">
        <li>Common front end toolkit</li>
        <li>Agreement model register</li>
    </ul>




    <span id="search">
        <h2 class="govuk-heading-m">Search</h2>
        <p class="govuk-body">Search cluster status {{ status }}</p>

        <form action="/" method="POST">
            {{ govukInput({
                label: {
                    text: "Search text"
                },
                hint: {
                    text: "Simple test search for the moment"
                },
                id: "search_text",
                name: "search_text"
            }) }}

            {{ govukButton({
                text: "Search",
                type: "submit",
                id: "search_button"
            }) }}
        </form>
        <span id="results">
            <h2 class="govuk-heading-s">results</h2>
            {{ query }}

            <p class="govuk-body">{{ results }}</p>
        </span>

    </span>



{% endblock %}
