doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/ccs.css')
  body
    block content
    script(src="/javascripts/all.js")
    script window.GOVUKFrontend.initAll()

